body {
  background: url("https://images.unsplash.com/photo-1429051883746-afd9d56fbdaf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=a40432a29a1c55fc0b2ec7f1f2271877") top center/cover no-repeat fixed;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  position: relative;
}

section:first-of-type {
  padding-top: 8rem;
  height: 100vh;
}

section {
  position: relative;
  background: rgba(247, 247, 247, 0.9);
}

.navbar {
  border: none;
  border-radius: 0;
  padding: 10px 0;
  background: none;
}

.navbar-brand,
.nav>li>a {
  font-family: 'Lora', sans-serif;
  font-size: 2rem;
}

.navbar-brand {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  text-shadow: 1px 0px 1px #ccc,
               0px 1px 1px #eee,
               2px 1px 1px #ccc,
               1px 2px 1px #eee,
               3px 2px 1px #ccc,
               2px 3px 1px #eee,
               4px 3px 1px #ccc,
               3px 4px 1px #eee,
               5px 4px 1px #ccc,
               4px 5px 1px #eee,
               6px 5px 1px #ccc,
               5px 6px 1px #eee,
               7px 6px 1px #ccc;
}

/* === About me === */

.about-me {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-me h2,
.portfolio h2,
.contact h2 {
  font-family: 'Lora', sans-serif;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(31, 32, 33, 0.9);
  margin-bottom: 3rem;
}

.about-me p {
  color: rgba(100, 100, 100, 1);
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.my-picture {
  width: 80%;
  border: 3px solid #D8D7D7;
}

.inner-container {
   padding: 1rem;
}

/* ========================== */

.contact {
  height: 50vh;
}

.social ul li,
.social ul li:hover {
  padding: 1rem 1rem;
  border-radius: 0.5rem;
}

.social ul li {
  margin-right: 2rem;
  background: #bbb;
  border: 1px solid #ccc;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0,0,0, 0.5),
							0.4rem 0.4rem 0.8rem rgba(0,0,0, 0.8);
}

.social ul li:hover {
   background: #000;
   box-shadow: 0.2rem 0.2rem 0.4rem rgba(150, 150, 150, 0.7),
                      0.4rem 0.4rem 0.8rem rgba(200, 200, 200, 0.8);
   border: 1px solid #000;
   /*color: #fff;*/
}

.social ul li:last-child {
   margin-right: 0;
}

.social-btn {
   padding: 1.5rem 1rem;
   color: #000;
}

.social-btn:hover {
  color: #fff;
  padding: 1.5rem 1rem;
}

.fa {
  padding-right: 0.5rem;
}

/* ========================= */

hr {
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

footer {
  position: absolute;
  bottom: 0;
  background: #000;
  color: #fff;
}

.copy {
  width: 100vw;
  padding: 2rem;
  margin: 0;
  font-size: 1.2rem;
}

/* MEDIA QUERY */

@media (max-device-width: 480px) {
  body {
    font-size: 12px;
  }

  .about-me {
    position: relative;
    top: inherit;
    left: inherit;
    transform: none;
  }

  .about-me h2,
  .portfolio h2,
  .contact h2 {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1.5px;
  }

  .about-me p {
    margin-bottom: 1rem;
  }

  .social ul li {
    display: block;
    margin: 1.2rem 0.3rem;
  }

  .contact {
    padding-bottom: 3rem;
  }
}
